.formContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    background-color: #fafafa;
    padding: 2%;
  }
  
  @media (max-width: 768px) {
    .formContainer {
      grid-template-columns:  1fr;
    }
  }
  
 